@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global variables */
:root {

    /* spacing */
    --sm: 2%;
    --md: 5%;
    --lg: 20%;

    /* colors */
    --color:  rgb(13, 115, 122);
    --color-tr:  rgba(13, 115, 122, 0.75);
    --main: rgb(20, 12, 34);
    --main-tr: rgba(20, 12, 34, 0.952);

    
    --done:rgb(13, 115, 122);
    --need: rgb(133, 67, 14);
    --grey: rgb(107, 106, 104);

    --graphs: 150px;

    /* fonts */
    --font : 'Orbitron', sans-serif; /* futuristic font style */

    /* page colors */
    --page-box-shadow: -1px -1px 10px 0px rgba(13, 115, 122, 0.75);
    --moz-box-shadow: -1px -1px 10px 0px rgba(13, 115, 122, 0.75);
    --web-box-shadow: -1px -1px 10px 0px rgba(13, 115, 122, 0.75);

    
    /* dev borders */
    --wireframe: 2px solid darkblue;
    --debugging: 2px solid darkred;
    --component: 2px solid darkgreen;


}

/* container component */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    min-height: 100vh;
    width: 100%;

    /* component props */
    background: var(--main);
    color: var(--color);
    font-family: var(--font);

    padding: var(--sm);

    /* dev */
    border: var(--wireframe);
}

ul {
    /* dev */
    border: var(--component);
    background: lightcoral;
    padding: var(--sm);
}
li {
    border: var(--wireframe);
}
form {
    /* display: flex; */

    /* dev */
    border: var(--debugging);
}