/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* global variables */
:root {

    /* spacing */
    --sm: 2%;
    --md: 5%;
    --lg: 20%;

    /* colors */
    --darkorange: rgba(173, 102, 20, 0.904);
    --darkpurple: rgba(43, 16, 161, 0.815);
    --darkaqua: rgba(20, 184, 175, 0.897);
    --darkred: rgba(177, 26, 58, 0.788);
    --darkwhite: rgba(224, 224, 224, 0.863);

    /* dev colors */
    --slateblue: rgb(10, 6, 39);

    /* dev borders */
    --wireframe: 2px solid darkblue;
    --debugging: 2px solid darkred;
    --component: 2px solid darkgreen;


}
/* page wrapper */
.page {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    /* position props */
    position: relative;

    /* background props */
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;

    /* component props */
    background: rgba(0, 0, 0, 0.63);
    background: var(--slateblue);
    
    padding: var(--lg);

}
/* list component */
ul {
    /* display props [ grid ] */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    height: 100%;
    width: 100%;
}
ul li {
    /* grid placement [ ul ] */
    grid-column: span 2;
    grid-row: span 1;

    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    /* component props */
    background: transparent;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    color: #FFF;
    list-style-type: none;

}
/* remove large panel elements on mobile devices */
ul li:nth-child(1) {
    /* grid placement [ ul ] */
    grid-column: span 1;
    grid-row: span 2;

    /* display props [ none ] */
    display: none;
}
ul li:nth-child(2) {
    /* grid placement [ ul ] */
    grid-column: span 1;
    grid-row: span 2;

    /* display props [ none ] */
    display: none;
}
/* remove last panel element on mobile devices */
ul li:last-child {
    /* display props [ none ] */
    display: none;
}

/* theme [ orange ] */
.orange {
    border: 0.3rem solid var(--darkorange);
}
.orange i {
    color: var(--darkorange);
}
.orange:hover {
    background: var(--darkorange);
}
.orange:hover i {
    color: #FFF;
}
/* theme [ red ] */
.red {
    border: 0.3rem solid var(--darkred);
}
.red i {
    color: var(--darkred);
}
.red:hover i {
    color: #FFF;
}
.red:hover {
    background: var(--darkred);
    transition: 100ms all ease-in-out;
}
/* theme [ purple ] */
.purple {
    border: 0.3rem solid var(--darkpurple);
}
.purple i {
    color: var(--darkpurple);
}
.purple:hover {
    background: var(--darkpurple);
}
.purple:hover i {
    color: #FFF;
}
/* theme [ aqua ] */
.aqua {
    border: 0.3rem solid var(--darkaqua);
}
.aqua i {
    color: var(--darkaqua);
}
.aqua:hover {
    background: var(--darkaqua);
}
.aqua:hover i {
    color: #FFF;
}

/* media query [ tablet & screen readers */
@media screen and (min-width: 700px) {
    .page ul {
        
        max-width: 899px;
        
    }
    ul {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(0.85rem, auto);
        height: 100%;
        width: 100%;

        min-height: 45vh;
        padding: var(--sm);
    }
    ul li {
        grid-column: span 1;
        grid-row: span 1;
    }

    /* remove large panel elements on mobile devices */
    ul li:nth-child(1) {
        grid-column: span 1;
        grid-row: span 2;

        display: none;
    }
    ul li:nth-child(2) {
        grid-column: span 1;
        grid-row: span 2;

        display: none;
    }
    /* remove last panel element on mobile devices */
    ul li:last-child {
        display: none;
    }

}
/* media query [ laptop & small monitors ] */
@media screen and (min-width: 900px) {
    .page ul {
        max-width: 1920px;
        min-height: 55vh;
    }
    ul {
        /* display props [ grid ] */
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(0.85rem, auto);
        height: 100%;
        width: 100%;
        

        /* componenet props */
        border-radius: 10px;
        padding: var(--sm);
    }
    .page ul li {
        /* grid placement [ ul ] */
        grid-column: span 1;
        grid-row: span 2;

        /* component props */
        transition: 200ms all ease-in;
    }

    /* tall panel */
    ul li:nth-child(1),
    ul li:nth-child(2) {
        /* grid placement [ ul ] */
        grid-column: span 1;
        grid-row: span 4;

        /* display: props */
        display: flex;
        
        /* background props */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    ul li:nth-child(1) {
        /* background image */
        background-image: url(img/launch.jpg);
        
    }
    ul li:nth-child(2) {
        /* background image */
        background-image: url(img/travel.jpg);
    }
    
    /* wide panel */
    ul li:nth-child(8) {
        /* grid placement [ ul ] */
        grid-column: span 2;
        grid-row: span 2;
    }
    ul li:nth-child(9) {    
        /* grid placement [ ul ] */
        grid-column: span 1;
        grid-row: span 2;
    }
    /* apply flex to last child element */
    ul li:last-child {
        display: flex;
    }

    /* add point mouse styles to cursor */
    li:hover {
        cursor: pointer;
    }

    /* panel icon props */
    li i {
        font-size: 1.85rem;
        padding: var(--md);
    }
    
}