@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global variables */
:root {

    /* spacing */
    --sm: 2%;
    --md: 5%;
    --lg: 20%;

    /* colors */
    --darkorange: rgba(173, 102, 20, 0.904);
    --darkpurple: rgba(43, 16, 161, 0.815);
    --darkaqua: rgba(20, 184, 175, 0.897);
    --darkred: rgba(177, 26, 58, 0.788);
    --darkwhite: rgba(224, 224, 224, 0.863);

    /* fonts */
    --font : 'Orbitron', sans-serif; /* futuristic font style */

    /* dev colors */
    --slateblue: rgb(10, 6, 39);
    --gradient: rgb(134,49,244);
    --gradient-background: linear-gradient(90deg, rgba(134,49,244,1) 1%, rgba(110,38,140,1) 55%, rgba(64,0,255,0.9635563698135504) 100%);

    --gradient-alternate: rgb(134,49,244);
    --gradient-background-alternate: linear-gradient(304deg, rgba(134,49,244,1) 1%, rgba(110,38,140,1) 55%, rgba(64,0,255,0.9635563698135504) 100%);

    --gradient-transparent: rgb(99,93,101);
    --gradient-background-transparent: linear-gradient(94deg, rgba(99,93,101,0.8491718931968167) 40%, rgba(30,119,160,0.7932712720788043) 91%);

    /* dev borders */
    /* --wireframe: 2px solid darkblue;
    --debugging: 2px solid darkred;
    --component: 2px solid darkgreen; */


}

/* page wrapper */
.page {
    
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    /* position props */
    position: relative;

    /* background props */
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    background: #000;

    /* background: var(--gradient);
    background: var(--gradient-background);

    background: var(--gradient-alternate);
    background: var(--gradient-background-alternate);

    background: var(--gradient-transparent);
    background: var(--gradient-background-transparent); */
    
    /* component props */
    font-family: var(--font);
    padding: var(--md);

    /* dev */
    

}

/* header */
.header {
    color: rgb(30, 119, 160);
    color: var(--darkwhite);
    padding: var(--sm);
    width: 100%;
    margin-top: var(--md);
    margin-bottom: var(--md);
}
.header .elmnts {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    padding: var(--sm);

    /* dev */
    border: var(--debugging);
}
.time {
    color: rgb(30, 119, 160);
    color: var(--darkwhite);
    padding-top: var(--md);
    font-size: 2rem;
}
.date {
    color: rgb(30, 119, 160);
    color: var(--darkwhite);
    text-decoration: underline;
}

/* list component */
.start {
    
    /* display props [ grid ] */
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(75px, auto);
    height: 100%;
    width: 100%;
    

    /* component props */
    padding: var(--md);

    /* dev */
    border: var(--component);
    
}
.start li {

    /* grid placement [ ul ] */
    grid-column: span 1;
    grid-row: span 1;

    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    /* component props */
    background: transparent;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    color: #FFF;
    list-style-type: none;
    
    /* dev */
    border: 3px solid var(--darkwhite)

}
.start li i {
    color: #FFF;
    font-size: 1.85rem;
}
.start li a {

    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--sm);
    color: #FFF;
    background: transparent;
    text-decoration: none;

    /* dev */
    border: var(--debugging);
}
.start li button {
    background: transparent;
    border: none;
}

/* [ prototype ] list ( hidden by default ) */
.prototype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: var(--sm);

    transition: all ease-in 220ms;

    /* dev */
    border: var(--debugging);
}
.prototype li {
    width: 250px;
    height: 60px;

    color: #FFF;

    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;

    transition: all ease-in 220ms;

    /* dev */
    border: var(--component);
}
.prototype a {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #FFF;
    text-decoration: none;

    height: 100%;
    width: 100%;
}
.prototype i {
    font-size: 1.45rem;
    padding-left: var(--md);
}
.prototype span {
    padding-left: var(--md);
    text-transform: capitalize;
    letter-spacing: 0.13rem;
}





/* footer */
.footer {

    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background: var(--darkwhite);

    display: flex;
    justify-content: space-evenly;

    /* padding: var(--sm) var(--md); */

    
}
.footer button {

    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
    
}
.footer button.active {
    
    background: rgb(30, 119, 160);
}
.footer i {
    
    
    font-size: 1.5rem;
}

.banking, .albums, .bookmarks {display:none;}





/* theme [ gunmetal with darkaqua accents */
.gunmetal {

    /* component props [ color scheme ] */
    /* background: rgb(48, 45, 45); */
    background: var(--darkwhite);
    /* color: rgb(30, 119, 160); */
    color: #000;
}

/* theme [ transparent glass with lightblue accents */
.transparent {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* component props [ color scheme ] */
    background: transparent;
    border: none;
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.12rem;

}
.transparent h2 {
    font-size: 1.75rem;
}




/* media query [ tablet & screen readers */
@media screen and (min-width: 700px) {
    .page ul {
        
        max-width: 899px;
        
    }
    ul {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(0.85rem, auto);
        height: 100%;
        width: 100%;

        min-height: 45vh;
        padding: var(--sm);
    }
    ul li {
        grid-column: span 1;
        grid-row: span 1;
    }

    /* remove large panel elements on mobile devices */
    ul li:nth-child(1) {
        grid-column: span 1;
        grid-row: span 2;

        display: none;
    }
    ul li:nth-child(2) {
        grid-column: span 1;
        grid-row: span 2;

        display: none;
    }
    /* remove last panel element on mobile devices */
    ul li:last-child {
        display: none;
    }

}
/* media query [ laptop & small monitors ] */
@media screen and (min-width: 900px) {
    .page ul {
        max-width: 1920px;
        min-height: 55vh;
    }
    ul {
        /* display props [ grid ] */
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(0.85rem, auto);
        height: 100%;
        width: 100%;
        

        /* componenet props */
        border-radius: 10px;
        padding: var(--sm);
    }
    
    
}