* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --wireframe: 2px solid darkblue;
    --debugging: 2px solid darkred;
    --component: 2px solid darkgreen;
}

// application layout
header {

    // display props [ flex ]
    display: flex;
    justify-content: space-between;
    align-items: center;

    // dimensions & spacing
    height: 10vh;
    padding: 5%;

    // dev
    border: var(--wireframe);
}
main {
    height: 80vh;
    
    
    // dev
    border: var(--wireframe);
}
main section {
    height: 100%;
    overflow: hidden;
}
footer {

    // display props [ flex ]
    display: flex;
    justify-content: space-around;
    align-items: center;

    // dimensions & spacing
    height: 10vh;

    // dev
    border: var(--wireframe);
}

footer .btn {
    min-width: 60px;
    height: 40px;
}

// unordered list elements
.list {
    
    // display props [ grid ]
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;

    // dimensions & spacing
    height: 100%;
    padding: 10px;

    position: relative;
}
.items {

    list-style-type: none;
    padding: 3%;
    min-height: 100px;
    // dev
    border: var(--component);
}
.items .title {
    padding-bottom: 2%;
    text-decoration: underline;
}
.items .text {
    font-style: italic;
}

// form elements
form {

    // display props [ flex ] assigned by javascript
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    background: lightcoral;
}


// note elements
#editing {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    // dev
    background: darkslategrey;
}